<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
		<title>Smartphone</title>
		<link rel="stylesheet" type="text/css" href="css/all.css" />
		<link rel="stylesheet" type="text/css" href="css/app.css" />
	</head>
	<body>
		<div id="smartphone" ref="smartphone">
			<div id="head">
				<div id="clock">{{ currentTime }}</div>
				<div id="notch"></div>
				<div id="headInfo">
					<i class="fas fa-battery-full" id="battery" ref="battery"></i>
					<i class="fas fa-signal" id="signal"></i>
				</div>
			</div>
			<div id="homeScreen" ref="homeScreen" v-show="homeScreenVisible">
				<div id="apps">
					<div class="app" id="appCalenderButton" v-on:click="appClick($event);">{{ date }}</div>
					<div class="app" id="appWeatherButton" ref="appWeatherButton" v-on:click="appClick($event);"></div>
					<div class="app" id="appRadioButton" v-on:click="appClick($event); openRadioApp();">
						<i class="fas fa-broadcast-tower"></i>
					</div>
					<div class="app" id="appBusinessButton" v-on:click="appClick($event);">
						<i class="fas fa-briefcase"></i>
					</div>
				</div>
				<div id="fav">
					<div class="app" id="appPhoneButton" v-on:click="appClick($event);">
						<i class="fas fa-phone"></i>
					</div>
					<div class="app" id="appContactsButton" v-on:click="appClick($event); openContactsApp();">
						<i class="fas fa-address-book"></i>
					</div>
					<div class="app" id="appMessagesButton" v-on:click="appClick($event);">
						<i class="fas fa-comment"></i>
					</div>
					<div class="app" id="appSettingsButton" v-on:click="appClick($event);">
						<i class="fas fa-cogs"></i>
					</div>
				</div>
			</div>

			<div id="appScreen" ref="appScreen" v-show="appScreenVisible">
				<!-- KONTAKTE -->
				<div id="appContacts" ref="appContacts" v-show="appContacts">
					<div id="appContactsOverview" v-show="appContactsOverviewVisible">
						<h5>Kontakte</h5>
						<input
							type="text"
							id="appContactsSearch"
							placeholder="Suche..."
							v-model="searchQuery"
							tabindex="-1"
						/>
						<div id="appContactsList">
							<div class="contact" v-for="contact in appContactsSearch" v-bind:data-id="contact.id" v-bind:data-name="contact.name" v-bind:data-phone="contact.phone" v-on:click="openEditContacts($event);">{{ contact.name }}</div>
						</div>
					</div>
					<div id="appContactsEdit" v-show="appContactsEditVisible">
						<div id="editContactHead" v-on:click="hideEditContact($event);">
							<i class="fas fa-chevron-left"></i> Kontakte
						</div>
						<div id="editContactLetter">
							<span>{{ contactName[0] }}</span>
						</div>
						<div id="editContactName">{{ contactName }}</div>
						<div id="editContactButtons">
							<div id="editContactCallPhone"><i class="fas fa-phone"></i></div>
							<div id="editContactMessage"><i class="fas fa-comment"></i></div>
							<div id="editContactDeleteButton" v-on:click="deleteContact($event);">
								<i class="fas fa-trash"></i>
							</div>
						</div>
						<div id="editContact">
							<input type="hidden" id="contactId" v-model="contactId" tabindex="-1" />
							<input type="text" id="contactNewName" v-model="contactName" v-on:input="updateContact" tabindex="-1" />
							<input type="number" id="contactNewPhone" v-model="contactPhone" v-on:input="updateContact" tabindex="-1" />
						</div>
					</div>
				</div>
				<!-- KONTAKTE END -->
				<!-- FUNK -->
				<div id="appRadio" v-show="appRadio">
					<div id="appRadioOverview" v-show="appRadioOverviewVisible">
						<h5>Funk</h5>
						<input
							type="number"
							min="1"
							max="100"
							id="appRadioChannel"
							v-model="channel"
							placeholder="Channel (1-100Mhz)"
							tabindex="-1"
							required
						/>
						<div id="appRadioJoinChannel" v-on:click="joinChannel();">
							<i class="fas fa-sign-in-alt"></i>
						</div>
						<div id="appRadioLeaveChannel" v-on:click="leaveChannel();">
							<i class="fas fa-sign-out-alt"></i>
						</div>
					</div>
				</div>
				<!-- FUNK END -->
			</div>

			<div id="homeButton" v-show="homeButtonVisible" v-on:click="clickHomeButton();">
				<i class="fas fa-home"></i>
			</div>
		</div>
		<script src="js/vue.min.js"></script>
		<script src="app.js" type="text/javascript"></script>
	</body>
</html>
