@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.eot');
    src: local(''),
         url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'),
         url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'),
         url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg');
}

*,
*:focus {
    outline: none;
}

body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(50, 50, 50, 1);
    border-radius: 5px;
    padding: 24px;
    box-sizing: border-box;
    user-select: none;
}

.container p {
    color: rgba(215, 215, 215, 1);
    text-align: center;
}

.container h2 {
    padding-bottom: 12px;
    margin: 0;
    color: rgba(215, 215, 215, 1);
}

.container button {
    padding: 12px;
    background: rgba(20, 20, 20, 1);
    color: rgba(215, 215, 215, 1);
    border: 0px;
    border-radius: 5px;
}

.container button:hover {
    background: rgb(68, 199, 118);
    color: rgba(20, 20, 20, 1);
}

.container button:active {
    transform: scale(0.975);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
