@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.eot');
    src: local(''),
         url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'),
         url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'),
         url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg');
}

*,
*:focus {
    outline: none;
    opacity: 0.9;
}

body {
    min-height: 101%;
    background-image: url('./gta.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

#body,
#app {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    width: 50vw;
    height: 50vh;
    background: rgb(27, 27, 27);
    border-radius: 5px;
    padding: 24px;
    box-sizing: border-box;
    user-select: none;
}

.container p {
    opacity: 1;
    color: rgb(255, 255, 255);
    text-align: center;
}

.container h2 {
    opacity: 1;
    padding-bottom: 12px;
    margin: 0;
    color: rgb(255, 255, 255);
}

.container button {
    padding: 12px;
    background: rgba(20, 20, 20, 1);
    color: rgba(215, 215, 215, 1);
    border: 0px;
    border-radius: 5px;
}

.container button:hover {
    background: rgb(68, 199, 118);
    color: rgba(20, 20, 20, 1);
}

.container button:active {
    transform: scale(0.975);
}
